/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--light) var(--secondary);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.8rem;
}

*::-webkit-scrollbar-track {
    background: var(--secondary);
    border-radius: 0.4rem;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border-radius: 0.4rem;
    border: 0.1rem solid var(--secondary);
}

.player-group {
    font-size: 2em;
}

.live-bg {
    background-color: #333333;
    --bg-col-2: #363636;
    background-image: repeating-linear-gradient(-45deg,
      transparent,
      transparent 1%,
      var(--bg-col-2) 1%,
      var(--bg-col-2) 2%);
    background-size: 200% 200%;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
	0% {
		background-position: 0% 0%;
	}
    100% {
		background-position: 100% 100%;
	}
}